.grid-container {
    display: grid;
    grid-template-columns: 1fr 2fr; /* La primera columna tiene un ancho de 1/3 en comparación con la segunda columna */
    height: 100vh;
  }
  
  .grid-item {
    padding: 20px;
  }
  
  .column1 {
    
    
  }
  
  .column2 {
   
  }